<label for="coursename">Course Name</label>
<input type="text" id="coursename" name="coursename"><br><br>

<label for="topic">Topic</label>
<input type="text" id="topic" name="topic"><br><br>

<label for="location">Location</label>
<input type="text" id="location" name="location"><br><br>

<label for="Start Date">Start Date</label>
<input type="date" id="startdate" name="startdate"><br><br>

<label for="">Start Time</label>
<input type="time" id="starttime" name="starttime"><br><br>

<label for="">End Date</label>
<input type="date" id="enddate" name="enddate"><br><br>

<label for="">End Time</label>
<input type="time" id="endtime" name="endtime"><br><br>

<label for="">Capacity</label>
<input type="number" id="capacity" name="capacity" min="0" required="true"><br><br>

<label for="">Description</label>
<input type="text" id="description" name="description"><br><br>

<input type="submit" value="Create New Course">

