<label for="name">Course Name:</label>
<input type="text" id="name" name="name"><br><br>

<label for="type">Course Type:</label>
<input type="text" id="type" name="type"><br><br>

<label for="location">Location:</label>
<input type="text" id="location" name="location"><br><br>

<label for="start_date">Start Date:</label>
<input type="date" id="start_date" name="start_date"><br><br>

<label for="start_time">Start Time:</label>
<input type="time" id="start_time" name="start_time" step="60" value="00-00 a.m."><br><br>

<label for="end_Date">End Date:</label>
<input type="date" id="end_Date" name="end_date"><br><br>

<label for="end_time">End Time:</label>
<input type="time" id="end_time" name="end_time" step="60"><br><br>

<label for="seat_capacity">Seat Capacity:</label>
<input type="number" id="seat_capacity" name="seat_capacity" min="0"><br><br>

<label for="description">Description:</label>
<input type="text" id="description" name="description"><br><br>

<input type="submit" value="Create Course">
