<div class="position-fixed float-left justify-content-center h-100 border-right p-2 bg-dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <i class="material-icons md-36 md-light">menu</i>
    </li>
    <li class="nav-item">
      <i class="material-icons md-36 md-light">person</i>
    </li>
    <li class="nav-item">
      <i class="material-icons md-36 md-light">search</i>
    </li>
    <li class="nav-item">
      <a href="/logout"><i class="material-icons md-36 md-light">login</i> Logout</a>
    </li>
  </ul>
</div>
