<div class="position-fixed float-left justify-content-center h-100 border-right p-2 bg-dark">
  <ul class="nav flex-column">
    <!-- <li class="nav-item">
      <a href="main"><i class="material-icons md-36 md-light">menu</i></a>
    </li> -->
    <li class="nav-item">
      <a id="attendeeMain" href="/main"><i class="material-icons md-36 md-light">library_books</i></a>
    </li>
    <!-- <li class="nav-item">
      <a href=""><i class="material-icons md-36 md-light" href="">person</i></a>
    </li> -->
    <li class="nav-item">
      <a id="logoutButton" href="/logout"><i class="material-icons md-36 md-light">power_settings_new</i></a>
    </li>
  </ul>
</div>
