<div id="session1">
  <div class="form-row">
    <div class="col-3 ml-3 mb-3 date-wrapper">
      <label for="date">Session Date</label>
      <input type="date" class="form-control" id="sessionDate1" name="sessionDate1" required="true">
    </div>
  </div>
  <div class="form-row">
    <div class="col-3 ml-3 mb-3 start-wrapper">
      <label for="startTime1">Start Time</label>
      <input type="time" class="form-control" id="startTime1" name="startTime1" required="true">
    </div>
    <div class="col-3 ml-3 mb-3 end-wrapper">
      <label for="endTime1">End Time</label>
      <input type="time" class="form-control" id="endTime1" name="endTime1" required="true">
    </div>
  </div>
</div>
