<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header.ejs') %>

</head>

<body>

  <div class="container">
    <div class="row align-items-center justify-content-center mt-5" id="loginCard">
      <div class="col-8 col-sm-6 text-center">
        <h1>Login</h1>
        <div class="mt-4">
          <form id="loginForm" method="POST" action="/login">
            <div class="input-group justify-content-center flex-column">
              <div>
                <input type="email" class="form-control mb-2" name="uname" placeholder="Email" />
              </div>
              <div>
                <input type="password" class="form-control mb-3" name="pwd" placeholder="Password" />
              </div>
              <input type="submit" value="Sign In" class="btn btn-dark" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</body>

</html>