<!DOCTYPE html>
<html>
<head>
    <%- include ('../partials/header.ejs') %>
    <link href="stylesheets/login.css" rel="stylesheet" type="text/css">

</head>

<body>

    <form id="courseCreate" method="POST" action="/newcourse">
        <%- include('../partials/courseForm.ejs') %>
    </form>
    



</body>
</html>
