<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script type="text/javascript">
      //wait 4 seconds, then redirect
      setTimeout( () => {
        window.location.href = '<%= redirect %>';
      }, 3000);
    </script>
    <div class="container">
      <div class="row align-items-center justify-content-center mt-5" id="loginCard">
        <div class="col-8 col-sm-6 text-center">
          <p id="redirectMessage"><%= message %> You will be redirected to <%= target %>.</p>
        </div>
      </div>
    </div>
  </body>
</html>
