<!DOCTYPE html>
<html>
<head>
    <%- include ('../partials/header.ejs') %>
    <link href="stylesheets/login.css" rel="stylesheet" type="text/css">

</head>

<body>

    <%- include ('../partials/nav.ejs') %>

    <div class="row">
        <div class="col-sm-3 mx-auto" id="loginCard">
            <h1 id="loginTitle">Sign Up</h1>
            <br>
        
            <form id="loginForm" method="POST" action="/newuser">
                <div class="text-center">
                    <input type="email" name="uname" placeholder="Email">
                    <br>
                    <input type="password" name="pwd" placeholder="Password">
                    <br>
                    <input type="submit" value="Sign In" class="btn btn-primary" style="margin-top: 5%">
                    <br>
                    Your password must contain:
                    <ul>
                        <li>At Least 8 Characters</li>
                        <li>At Least 1 Uppercase Character</li>
                        <li>At Least 1 Lowercase Character</li>
                        <li>At Least 1 Number</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    


</body>
</html>
