<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header.ejs') %>
</head>

<body>

  <div class="container">
    <div class="row align-items-center justify-content-center mt-5" id="loginCard">
      <div class="col-8 col-sm-6 text-center">
        <h1>BGC Coursys Signup</h1>
        <div class="mt-5">
          <form id="signupForm" method="POST" action="/newuser" onsubmit="return validate()">
            <div class="input-group justify-content-center flex-column">
              <% if (errors.length > 0) { %>
                <div>
                  <% errors.forEach((errorItem) => { %>
                    <p><%= errorItem %></p>
                  <% }); %>
                </div>
              <% } %>

              <div class="mb-2">
                <input type="email" class="form-control" name="uname" placeholder="Email" />
                <small id="email-check" class=" form-text text-left d-none text-danger">
                  * Must be a valid BGC email
                </small>
              </div>
              <div>
                <input type="password" class="form-control" name="pwd" placeholder="Password" />
                <small id="passwordHelpBlock" class="form-text text-muted mb-3">
                  <div class="pw-check d-none text-danger text-left">* Must be at Least 8 Characters</div>
                  <div class="pw-check d-none text-danger text-left">* Must be at Least 1 Uppercase Character</div>
                  <div class="pw-check d-none text-danger text-left">* Must be at Least 1 Lowercase Character</div>
                  <div class="pw-check d-none text-danger text-left">* Must be at Least 1 Number</div>
                </small>
              </div>
              <input type="submit" value="Sign Up" class="btn btn-dark" />
            </div>
          </form>
        </div>
        <div class="mt-4">
          <a href="/login">Already have an account? Click here to log in</a>
        </div>
      </div>
    </div>
  </div>


</body>

<script>
  // checkers
  function checkEmail(input) {
    let emailValidation = /[^(@|\s)]+@bgcengineering\.ca/;
    if (!emailValidation.test(input))
      $("#email-check").removeClass('d-none');
    else $("#email-check").addClass('d-none');
    return $("#email-check").hasClass('d-none');
  }
  function checkPwd(input) {
    var $pc = $(".pw-check");
    if (input.length < 8)
      $pc.eq(0).removeClass('d-none');
    else
      $pc.eq(0).addClass('d-none');
    if (!input.match(/[A-Z]/g))
      $pc.eq(1).removeClass('d-none');
    else
      $pc.eq(1).addClass('d-none');
    if (!input.match(/[a-z]/g))
      $pc.eq(2).removeClass('d-none');
    else
      $pc.eq(2).addClass('d-none');
    if (!input.match(/[0-9]/g))
      $pc.eq(3).removeClass('d-none');
    else
      $pc.eq(3).addClass('d-none');
    return ($pc.filter('.d-none').length == $pc.length);
  }
  function validate() {
    return checkEmail(form['uname'].value) && checkPwd(form['pwd'].value);
  }

  // event listeners
  var form = document.getElementById('signupForm');
  form['uname'].addEventListener('keyup', () => { checkEmail(form['uname'].value); });
  form['pwd'].addEventListener('keyup', () => { checkPwd(form['pwd'].value); })

</script>

</html>
